html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    }

.topnav{
    display: flex;
    justify-content: center;
    background-color: #070910;
    overflow: hidden;
    padding-top: 15px;
    padding-bottom: 15px;
}

.topnav a{
    color: #f2f2f2;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover{
    background-color: blue;
    color: white;
}

.header{
    background-image: url("../background/aaa.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 550px;
    display: grid;
    padding: 100px 50px;
}

.overlay{
    place-self: center;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    color: white;
    padding: 80px;
    width: 80%;

}
h2.serif{
    font-family: 'Times New Roman', Times, serif;
}   

h1.cursive{
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-weight: lighter;
    font-variant: small-caps;
    color: green;
    font-size: 30pt;
    text-shadow: rgba(0, 0, 255, 1) -1px -2px 0.5em;
    text-transform: capitalize;
    letter-spacing: 2px;

}
h3.awit{
    font-family: cursive;
    font-size: large;
    font-style: italic;
    font-weight: lighter;
    color: yellow;
    text-shadow: 5px 2px 4px grey;
    text-shadow: rgba(0, 0, 255, 1)-1px -2px 0.5em; 
}
 
@media (max-width: 700px){
    .topnav{
        display: block;
    }
    .topnav a{
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: 20;
        text-align: left;
        z-index: 2;

    }

}

.Myself{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.table{
    padding: 2px 5px;
}

.signup-box{
    width: 360px;
    height: 620px;
    margin: auto;
    background-color: white;
    border-radius: 3px;
}

.login-box{
    width: 360px;
    height: 270px;
    margin: auto;
    border-radius: 3px;
    background-color: white;

}

h1{
    text-align: center;
    padding-top: 15px;
}

h4{
    text-align: center;
}

form{
    width: 300px;
    margin-left: 20px;
}

form label{
    display: flex;
    margin-top: 20px;
    font-size: 18px;
}

form input{
    width: 100%;
    padding: 8px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
}

input[type="button"]{
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: #49c1a2;
    color: white;
    font-size: 18px;

}

p{
    text-align: center;
    padding-top: 20px;
    font-size: 15px;

}

.para-2{
    text-align: center;
    color: white;
    font-size: 15px;
    margin-top: -10px;

}

.para-2 a{
    color: #49c1a2;

}

.tr{
    border-radius: 3px;
    padding: 80x;
    width: 80%;
}

.container{
    width 90%;
    padding: 20px;
    margin: 100px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.box{
    width: 250px;
    margin: 0 10px;
    box-shadow: 0   0   20px    2px rgba(0, 0, 0, 1);
}
.box img{
    display: block;
    width: 100px;
    border-radius: 5px;
}
.box:hover{
    transform: scale(1.3);
    z-index: 2;
}
